
/*TI Final - Edgardo Marino - programa complementario hoja estilos Formulario*/
*{margin:0;padding: 0;}

body{
	font-family: 'Roboto&display', sans-serif;
}

#contenedor{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top:2em;
	padding: 1em;
	background-color:rgb(92, 150, 204);
	border-radius: 6px;
}

.form{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	color:white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	}

.form input,.form textarea{
	width: 100%;
	margin-bottom: 1em;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 6px;
	border:none;
	}
